{% if banner %}
	<!-- IMAGE SECTION -->
	<tr>
		<td>
			<div align="center" style="margin: 10px 0">
				<a href="{{config.links.home}}"><img src="https://placeimg.com/640/200/arch" width="600" class="image-resize" border="0" alt="Image" /></a>
			</div>
		</td>
	</tr>
{% endif %}