<!-- SIDEBOX SECTION -->
<table role="presentation" class="outer-sidebox" align="right" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="300" style="float: right; background: transparent">
	<tr>
		<td style="text-align: center; padding-left: 10px; padding-bottom: 10px" class="sidebox-padding">
			<!-- INNER SIDEBOX SECTION -->
			<table role="presentation" class="inner-sidebox" border="0" cellpadding="0" cellspacing="0" width="300" style="float: right" bgcolor="{{config.theme.colors.atsBlue}}">
				<!-- IMAGE SECTION -->
				<tr>
					<td>
						<div align="center">
							<a href="{{config.links.home}}"><img src="https://placeimg.com/300/200/arch" width="100%" class="image-resize" border="0" alt="Callout Box Image" /></a>
						</div>
					</td>
				</tr>
				<!-- TEXT SECTION -->
				<tr>
					<td align="left" valign="top" style="padding: 10px 20px 0">
						<p style="margin: 10px 0 15px 0; color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px">Today's the last day to make your 2019 tax-deductible gift!</p>
						<!-- BUTTON SECTION -->
						<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td style="padding: 20px 0">
									<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td align="center" bgcolor="#c0813c" width="260">
												<a
													role="button"
													href="{{config.links.home}}"
													style="font-family: Arial, sans-serif; color: #ffffff; padding: 10px 20px; border: 1px solid transparent; display: inline-block; font-size: 18px; font-weight: bold; text-align: center; text-decoration: none; text-transform: uppercase"
													><span class="btn">donate</span></a
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>