<!-- DONATION SECTION -->
<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="600" bgcolor="{{ config.theme.colors.test }}">
	<tbody>
		<!-- MESSAGE SECTION -->
		<tr>
			<td align="center" class="footer-donate-text" style="color: {{ config.theme.colors.white }}; font-family: {{ config.theme.font.family }}; padding: 20px 40px 0 40px">
				<div style="font-size: 16px; line-height: 25px">
					<h4 style="font-size: 22px; margin-bottom: 10px;">Make a gift to the Technion Fund today!</h4>
					<p>The Technion is contributing to Israel and the global good in unprecedented ways. Help us ensure its continued advancement as a world-class institution of higher education.</p>
				</div>
			</td>
		</tr>
		<!-- BUTTON SECTION -->
		<tr>
			<td align="center">
				{% button "#ffffff", "#f7942f", "donate" %}
			</td>
		</tr>
	</tbody>
</table>

