<!-- MORE ARTICLES SECTION -->
<div style="margin-top:20px;">
	<a href="{{config.links.home}}"><h4 style="text-align:left;font-size:22px; line-height:28px;margin-bottom:20px;">This is an example headline</h4></a>
	<p>The process is in preclinical trials and could be available within a couple of years. <a style="color:2c3b91; font-weight: bold;" href="{{config.links.home}}">Read more &raquo;</a></p>
	<hr />
</div>