<!-- EVENT SECTION -->
<div style="margin-top:20px; text-align: center;">
	<a href="{{config.links.home}}"><h4 style="font-size:20px; line-height:23px;text-transform: uppercase;color: #2c3b91;">Event title 2019</h4></a>
	<p>
		Wednesday, May 15, 2019 || 7:30 p.m.<br />
		1234 Palisade Avenue, Fort Lee, NJ 07224
	</p>
	<p>Meeting renowned researcher Josue Sznitman and learn about the groundbreaking drug therapies he is working on. <a style="color:2c3b91; font-weight: bold;" href="{{config.links.home}}">RSVP &raquo;</a></p>
	<hr />
</div>