<!-- SPEAKER SECTION -->
<table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: 20px 0">
	<tr>
		<td align="center" style="color: #3c3532; font-family: Arial, Helvetica, sans-serif">
			<div class="feat-headline" style="color: {{config.theme.colors.atsBlue}}; font-size: 22px; line-height: 26px; margin-bottom: 20px">
				<h4>Featuring</h4>
			</div>
			<table role="presentation" class="featuring-wrapper dm-box" width="90%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f3f3f3">
				<tr>
					<td class="speaker-img" style="float: left">
						<img style="max-width: 100%" src="https://secure2.convio.net/ats/images/content/pagebuilder/Sznitman-Headshot-web.jpg" alt="Guest Speaker: Josué Sznitman" />
					</td>
					<td class="speaker-info" style="width: 60%; color: #3c3532; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; float: right; padding: 20px 10px 0 0">
						<div>
							<h4>Dr. Tomer Morad</h4>
							<!-- CHARACTER COUNT SHOULD BE BELOW 186 -->
							<p>Director, Allen and Jewel Prince Center for Neurodegenerative Disorders of the Brain, Ruth and Bruce Rappaport Faculty of Medicine, TechnionIsrael Institute of Technology.</p>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
