<!-- DETAIL SECTION -->
<table role="presentation" class="event-box" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: 20px 0" bgcolor="#2c3b91">
	<tbody>
		<tr>
			<td align="center" style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; padding: 20px">
				<p>
					Wednesday, May 15, 2019 || 7:30 p.m.<br />
					1234 Palisade Avenue, Apt. 55<br />
					Fort Lee, NJ 07224
				</p>
			</td>
		</tr>
		<tr>
			<td>
				{% button "#ffffff", "#037b77", "rsvp" %}
			</td>
		</tr>
	</tbody>
</table>
