<!-- START OF FOOTER SECTION -->
<!-- REMOVE FROM LINE ABOVE TO COMMENT THE SAYS END OF FOOTER SECTION TO REMOVE OR ADD TO ANY TEMPLATE -->
<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="600" bgcolor="f3f3f3">
	<tbody>
		<tr>
			<td style="text-align:left;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4d4d4d;line-height:18px;padding: 20px 30px;">
				<table role="presentation" width="45%" cellpadding="0" cellspacing="0" border="0" align="left" class="footer-left">
					<tbody>
						<tr>
							<td valign="top" class="footer-left" style="font-family: Arial,Helvetica,sans-serif;font-size:12px;line-height:18px;color:#4d4d4d;">
								<!-- START OF THE ADDRESS SECTION,-->
								<div >
									<span class="footer-text" style="font-size:12px;line-height:18px;">American Technion Society<br />
									55 East 59th Street, New York, NY 10022</span>
								</div>
								<!-- END OF THE ADDRESS SECTION -->
							</td>
						</tr>
					</tbody>
				</table>
				<!-- START OF THE FOOTER SOCIAL ICON SECTION -->
				<table role="presentation" width="25%" cellspacing="0" cellpadding="0" border="0" align="right" class="footer-right">
					<tbody>
						<tr>
							<td valign="top" class="footer-right" style="font-family: Arial,Helvetica,sans-serif;color:#4d4d4d;padding-top:5px;">
								<a href="https://www.facebook.com/americantechnionsociety"><img src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-facebook.png" border="0" width="11" alt="Facebook"/></a> &nbsp; &nbsp; <a href="https://twitter.com/TechnionUSA"><img src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-twitter.png" border="0" width="27" alt="Twitter"/></a> &nbsp; &nbsp;
								<a href="https://www.instagram.com/americantechnionsociety"><img src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-instagram.png" border="0" width="23" alt="Instagram"/></a>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- END OF THE FOOTER SOCIAL ICON SECTION -->
			</td>
		</tr>
		<!-- START OF FOOTER LINKS -->
		<tr>
			<td align="center" class="footer-text" style="font-family: Arial,Helvetica,sans-serif;line-height:20px;padding:15px;">
				<div>
					<a href="https://ats.org/contact-us/" style="text-decoration: none;"><span class="footer-links" style="color: #4d4d4d;font-size:12px;font-weight: normal;">Contact</span></a> <span class="footer-text" style="font-size:12px;line-height:12px;">|</span> <a class="footer-links" href="http://support.ats.org/site/CO" style="text-decoration: none;"><span style="color: #4d4d4d;font-size:12px;font-weight: normal;" class="footer-links">Unsubscribe</span></a>
				</div>
			</td>
		</tr>
		<!-- END OF FOOTER LINKS -->
	</tbody>
</table>
<!-- END OF FOOTER SECTION -->