<!-- SIGNATURE SECTION -->
<p><img src="{{ config.signature.sign }}" alt="{{ config.signature.name }}" width="200" /></p>
<p><strong>{{ config.signature.name }}<br />
{{ config.signature.title }}<br />
{{ config.name }}</strong></p>