<!-- SOCIAL SHARE SECTION -->
<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="600" bgcolor="{{config.theme.colors.dark.text}}">
	<tbody>
		<tr>
			<td valign="top" style="text-align: left; font-family: {{ config.theme.font.family }}; font-size:16px; line-height: 16px; color: {{config.theme.colors.light.text}}; padding: 20px 30px;">
				<table width="65%" cellpadding="0" cellspacing="0" border="0" align="left" class="social-share-left">
					<tbody>
						<tr>
							<td valign="middle" class="social-share-left" style="font-family: Arial, Helvetica,sans-serif;font-weight: bold;">
								<div>
									Share with Friends and Family
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<table role="presentation" width="25%" cellspacing="0" cellpadding="0" border="0" align="right" class="social-share-right">
					<tbody>
						<tr>
							<td valign="middle" class="footer-social" style="font-family: {{ config.theme.font.family }}; padding-top: 5px;">
								<a style="color: {{ config.theme.colors.light.text }};font-size: 20px;padding-right:10px;" href="https://www.facebook.com/americantechnionsociety"><i class="fa-brands fa-facebook-f"></i></a>
								<a style="color: {{ config.theme.colors.light.text }};font-size: 20px;padding-right:10px;" href="https://twitter.com/TechnionUSA"><i class="fa-brands fa-twitter"></i></a>
								<a style="color: {{ config.theme.colors.light.text }};font-size: 20px;padding-right:10px;" href="mailto:info@ats.org?subject=Email"><i class="fa-solid fa-envelope"></i></a>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>