# dependencies installed by npm
node_modules/
.vscode/

# build artifacts
build/
dist/
.cache

# secrets and errors
.env
.log
errors.*
report.*

# macOS related files
.DS_Store
.AppleDouble
.LSOverride

# test files
test.*
