/*  TemplateName=CustomStyle.tpt */


/*  $Header: /home/cvs/cvsroot/site_data/001/00000001/static_data/css/CustomStyle.css,v 1.8 2003/07/24 23:47:39 paulj Exp $  */


/*


	These are the styles peculiar to this site. Any styles

	specified in this file will override the baseline

	styles for the Convio product. The styles	must be in

	this file so that they will be available in th

	Internet Exporer WYSIWYG HTML editor as well as in the

	Page Wrapper.


	Convio does not maintain this file once it has been

	delivered to the client.


*/

P, LI, OL, UL, TABLE, TR, TH, TD, .Explicit {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}


body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}


hr {
	margin-right: 10;
	margin-left: 10;
	width: 100%;
	height: 1px;
	background-color: #000000;
	border: 0px solid #000000;
}


a.topNav:link,
a.topNav:active,
a.topNav:visited {
	color: white;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

a.topNav:hover {
	color: #000000;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}



a, a:link, a:visited {



	color : #039;



	font-size: 10pt;



	text-decoration : underline;

	font-family: Arial, Helvetica, Verdana, sans-serif;



}







a:hover, a:active {



	color : #36c;



	font-size: 10pt;



	text-decoration : underline;

	font-family: Arial, Helvetica, Verdana, sans-serif;






}

.SectionHead {


	font-family: Arial, Helvetica, Verdana, sans-serif;


}





p.cstmTitle {


	font-size: 14pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;


}

.ObjTitle  {
    border-bottom: 1px solid #EA7125;
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 14pt;
    margin-bottom: 30px;
    padding-top: 30px;
    text-transform: capitalize;
}





.ProgressBox {


	font-family: Arial, Helvetica, Verdana, sans-serif;


	font-size: 8pt;


	font-weight: bold;



}





.ProgressBoxCurrent {


	font-family: Arial, Helvetica, Verdana, sans-serif;


	font-size: 8pt;


	font-weight: bold;


}


table.ProgressBox {


	padding-right : 4px;


	padding-left : 4px;


	border-bottom: #000000 1px solid;


	border-top: #000000 1px solid;


	border-left: #000000 1px solid;


	border-right: #000000 1px solid;


}





a.ProgressBox:link {


	font-size: 8pt;


	text-decoration:none;


}


a.ProgressBox:visited {


	font-size: 8pt;

	text-decoration:none;


}


a.ProgressBox:hover {


	font-size: 8pt;


	font-weight: bold;


	text-decoration:none;


}





.Instructions {


	color: white;


	background-color : #069;


	background-image: URL(../images/sp.gif);


	font-family: Arial, Verdana, Helvetica, sans-serif;


	font-size: 8pt;


	font-weight: bold;


	padding: 4px 4px 1px 4px;


	margin-bottom: 0px;


	margin-top: 0px;


}





td.Instructions {


	border-bottom: #000000 1px solid;


	border-top: #000000 1px solid;


	border-left: #000000 1px solid;


	border-right: #000000 1px solid;


}





a.whitelink, a.whitelink:link, a.whitelink:visited, a.whitelink:hover, a.whitelink:active {


	color: white;


	font-family: Arial, Verdana, Helvetica, sans-serif;


	font-size: 9pt;


}


.FormBox {
	font-family: Arial,Verdana, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: white;
	background-image: URL(../images/sp.gif);
}

div.FormBox {
	border: #669 1px solid;
	background-color: white;
	background-image: URL(../images/sp.gif);
	padding: 0px;
	width: 600px
}

div.FormBoxNoWidth {
	border: #669 1px solid;
	background-color: white;
	background-image: URL(../images/sp.gif);
	padding: 0px;
}

table.FormBox {
	border: #669 1px solid;
	border-collapse: collapse;
}

.FormBox .Divider {
	background-color: white;
}

.FormBoxNoWidth .Divider {
	background-color: white;
}

.FormBox .dividerHeading {
	background-color: white;
}

.FormBoxNoWidth .dividerHeading {
	background-color: white;
}



#navlist {
position: relative;
}

#navlist ul {
margin: 10 0 0 0;
padding: 0;
list-style-type: none;
font-size: 12px;
}

#navlist li {
margin: -3 0 0 0;
padding:0;
}
#navlist li.first {
margin: -3 0 0 0;
padding:0 0 35 0;
}
#navlist a {
color: #000;
display: block;
margin: -1 0 -1 0;
padding: 5 2 20 24;
}

#navlist a:link,
#navlist a:visited {
text-decoration: none;
}

#navlist a:hover,
#activeLink a:link,
#activeLink a:visited,
#activeLink a:hover,
#activeLink a:active {
background-color: #FB8F3A;
background-repeat: no-repeat;
background-position: 0% 50%;
}

.title {
color: #303030;
font-family:Arial, Verdana, Helvetica, sans-serif;
font-size:1.2em;
font-weight:bold;
}
#navlist li.searchfirst {
margin: -3 0 0 0;
padding:0 0 10 0;
color:#243B85;
line-height:1;
}

legend {
float:none !important;
}

