<!-- ! START OF ARTICLE 1 -->
<!-- REMOVE FROM LINE ABOVE TO COMMENT THE SAYS END OF ARTICLE # TO REMOVE OR ADD TO ANY TEMPLATE -->
<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="600" style="margin-bottom:20px;">
	<tr>
		<td class="emailbodytext" style="color:#282828;font-family: Arial, Verdana, Helvetica, sans-serif;font-size:18px;line-height:26px;">
			<img src="https://placeimg.com/600/200/arch" alt="ENTER ALT TEXT" width="600" />
			<div style="padding:20px 20px 0 20px;">
				<h4 style="text-align:center;font-size:22px; line-height:28px;margin-bottom:20px;">This is an example headline</h4>
				<p>The Technion procedure, developed by Prof. Avi Schroeder and Dr. Assaf Zinger, softens the gum’s collagen fibers through the targeted release of the enzyme collagenase, allowing the teeth to shift into place. Braces would still be installed but for a far shorter time down from the conventional 2 years to about six months. The process is in preclinical trials and could be available within a couple of years.</p>
			</div>
		</td>
	</tr>
	<!-- ! START OF BUTTON -->
	<tr>
		<td>
			<!-- START OF READ MORE BUTTON SECTION -->
			<div align="center">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" role="button">
					<tr>
						<td align="center">
							<table border="0" cellspacing="0" cellpadding="0" role="button">
								<tr>
									<td align="center" bgcolor="#208283">
										<a href="https://ats.org" style="font-family: Arial, sans-serif; color: #ffffff; padding: 12px 18px; border: 1px solid #208283; display: inline-block;font-size:18px;font-weight:bold;text-align:center;text-decoration:none;text-transform: uppercase;"><span class="btn">
										Read More</span></a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<br />
			<!-- END OF READ MORE BUTTON SECTION -->
		</td>
	</tr>
	<!-- ! END OF BUTTON -->
</table>
<!-- ! END OF ARTICLE 1 -->