<!-- START OF FOOTER SECTION -->
<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="600" bgcolor="#f3f3f3">
	<tbody>
		<!-- START OF MISSION SECTION -->
		<tr>
			<td align="left" class="footer-donate-text" style="color:#4d4d4d;font-family: Arial, Helvetica,sans-serif;font-size:12px;line-height:18px;padding: 20px 30px;">
				<div>
					The American Technion Society supports visionary education and world-changing impact through the Technion–Israel Institute of Technology. For more than 75 years, our nationwide supporter network has funded new Technion scholarships, research, labs, and facilities that have helped deliver world-changing contributions and extend Technion education to campuses in three countries. Our investments in the Technion’s growth and innovation advance critical research and technologies that serve the State of Israel and the global good.
				</div>
			</td>
		</tr>
		<!-- END OF MISSION SECTION -->
		<tr>
			<td style="text-align:left;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4d4d4d;line-height:18px;padding: 20px 30px;">
				<table role="presentation" width="45%" cellpadding="0" cellspacing="0" border="0" align="left" class="footer-left">
					<tbody>
						<tr>
							<td valign="top" class="footer-left" style="font-family: Arial,Helvetica,sans-serif;font-size:12px;line-height:18px;color:#888888;">
								<!-- START OF THE ADDRESS SECTION,-->
								<div >
									<span class="footer-text" style="font-size:12px;line-height:18px;">American Technion Society<br />
									55 East 59th Street, New York, NY 10022</span>
								</div>
								<!-- END OF THE ADDRESS SECTION -->
							</td>
						</tr>
					</tbody>
				</table>
				<!-- START OF THE FOOTER SOCIAL ICON SECTION -->
				<table role="presentation" width="25%" cellspacing="0" cellpadding="0" border="0" align="right" class="footer-right">
					<tbody>
						<tr>
							<td valign="top" class="footer-right" style="font-family: Arial,Helvetica,sans-serif;color:#4d4d4d;padding-top:5px;">
								<a href="https://www.facebook.com/americantechnionsociety"><img src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-facebook.png" border="0" width="11" alt="Facebook"/></a> &nbsp; &nbsp; <a href="https://twitter.com/TechnionUSA"><img src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-twitter.png" border="0" width="27" alt="Twitter"/></a> &nbsp; &nbsp;
								<a href="https://www.instagram.com/americantechnionsociety"><img src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-instagram.png" border="0" width="23" alt="Instagram"/></a>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- END OF THE FOOTER SOCIAL ICON SECTION -->
			</td>
		</tr>
		<!-- START OF FOOTER LINKS -->
		<tr>
			<td align="center" class="footer-text" style="font-family: Arial,Helvetica,sans-serif;line-height:20px;padding:15px;">
				<div>
					<a href="https://ats.org/contact-us/" style="text-decoration: none;"><span class="footer-links" style="color: #4d4d4d;font-size:12px;">Contact</span></a> <span class="footer-text" style="font-size:12px;line-height:18px;">|</span> <a class="footer-links" href="http://support.ats.org/site/CO" style="text-decoration: none;"><span style="color: #4d4d4d;font-size:12px;" class="footer-links">Unsubscribe</span></a>
				</div>
			</td>
		</tr>
		<!-- END OF FOOTER LINKS -->
	</tbody>
</table>
<!-- END OF FOOTER SECTION --><!-- START OF FOOTER SECTION -->
<table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="600" bgcolor="#f3f3f3">
	<tbody>
		<!-- START OF MISSION SECTION -->
		<tr>
			<td align="left" class="footer-donate-text" style="color:#4d4d4d;font-family: Arial, Helvetica,sans-serif;font-size:12px;line-height:18px;padding: 20px 30px;">
				<div>
					The American Technion Society supports visionary education and world-changing impact through the Technion–Israel Institute of Technology. For more than 75 years, our nationwide supporter network has funded new Technion scholarships, research, labs, and facilities that have helped deliver world-changing contributions and extend Technion education to campuses in three countries. Our investments in the Technion’s growth and innovation advance critical research and technologies that serve the State of Israel and the global good.
				</div>
			</td>
		</tr>
		<!-- END OF MISSION SECTION -->
		<tr>
			<td style="text-align:left;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#4d4d4d;line-height:18px;padding: 20px 30px;">
				<table role="presentation" width="45%" cellpadding="0" cellspacing="0" border="0" align="left" class="footer-left">
					<tbody>
						<tr>
							<td valign="top" class="footer-left" style="font-family: Arial,Helvetica,sans-serif;font-size:12px;line-height:18px;color:#888888;">
								<!-- START OF THE ADDRESS SECTION,-->
								<div >
									<span class="footer-text" style="font-size:12px;line-height:18px;">American Technion Society<br />
									55 East 59th Street, New York, NY 10022</span>
								</div>
								<!-- END OF THE ADDRESS SECTION -->
							</td>
						</tr>
					</tbody>
				</table>
				<!-- START OF THE FOOTER SOCIAL ICON SECTION -->
				<table role="presentation" width="25%" cellspacing="0" cellpadding="0" border="0" align="right" class="footer-right">
					<tbody>
						<tr>
							<td valign="top" class="footer-right" style="font-family: Arial,Helvetica,sans-serif;color:#4d4d4d;padding-top:5px;">
								<a href="https://www.facebook.com/americantechnionsociety"><img src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-facebook.png" border="0" width="11" alt="Facebook"/></a> &nbsp; &nbsp; <a href="https://twitter.com/TechnionUSA"><img src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-twitter.png" border="0" width="27" alt="Twitter"/></a> &nbsp; &nbsp;
								<a href="https://www.instagram.com/americantechnionsociety"><img src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-instagram.png" border="0" width="23" alt="Instagram"/></a>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- END OF THE FOOTER SOCIAL ICON SECTION -->
			</td>
		</tr>
		<!-- START OF FOOTER LINKS -->
		<tr>
			<td align="center" class="footer-text" style="font-family: Arial,Helvetica,sans-serif;line-height:20px;padding:15px;">
				<div>
					<a href="https://ats.org/contact-us/" style="text-decoration: none;"><span class="footer-links" style="color: #4d4d4d;font-size:12px;">Contact</span></a> <span class="footer-text" style="font-size:12px;line-height:18px;">|</span> <a class="footer-links" href="http://support.ats.org/site/CO" style="text-decoration: none;"><span style="color: #4d4d4d;font-size:12px;" class="footer-links">Unsubscribe</span></a>
				</div>
			</td>
		</tr>
		<!-- END OF FOOTER LINKS -->
	</tbody>
</table>
<!-- END OF FOOTER SECTION -->