<!-- START OF SHARE SECTION -->
<table align="center" border="0" cellpadding="0" cellspacing="0" class="emailwrapto100pc" width="600" bgcolor="#bbbbbb">
	<tbody>
		<tr>
			<td style="text-align:left;font-family:Arial,'Helvetica Neue',sans-serif;font-size:18px;line-height:22px;color:#333333;padding:20px 30px;">
				<table width="50%" cellpadding="0" cellspacing="0" border="0" align="left" class="footer-left">
					<tbody>
						<tr>
							<td valign="top" class="footer-left" style="font-family: Arial,'Helvetica Neue',sans-serif;font-weight: bold;">
								<!-- START FOOTER DONATE BUTTON, make sure to update both links and adjust both widths as needed -->
								<div>
									Share with friends and family
								</div>
								<!-- END FOOTER DONATE BUTTON -->
							</td>
						</tr>
					</tbody>
				</table>
				<table width="20%" cellspacing="0" cellpadding="0" border="0" align="right" class="footer-right">
					<tbody>
						<tr>
							<td valign="top" class="footer-right" style="font-family:Arial,'Helvetica Neue',sans-serif;">
								<a href="https://www.facebook.com/americantechnionsociety"><img width="11px" height="23px" src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-facebook.png" border="0" alt="Facebook"/></a> &nbsp; &nbsp;
								<a href="https://twitter.com/TechnionUSA"><img width="24px" height="20px" src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-twitter.png" border="0" alt="Twitter"/></a> &nbsp; &nbsp;
								<a href="https://www.instagram.com/americantechnionsociety"><img width="21px" height="19px" src="https://secure2.convio.net/ats/images/content/pagebuilder/footer-instagram.png" border="0" alt="Instagram"/></a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- END OF SHARE SECTION -->
