<!-- LOGO SECTION -->
<tr>
	<td style="padding-top: 15px" class="logo-spacing">
		{# BLUE LOGO #}
		<a class="logo-light" href="http://ats.org"><img alt="{{config.name}} logo" src="{{config.logo.blue}}" border="0" width="200" /></a>
		{# WHITE LOGO #}
		<a class="logo-dark" href="http://ats.org"><img alt="{{config.name}} logo" src="{{config.logo.white}}" border="0" width="200" /></a>
	</td>
</tr>